body {
    height: 100%;
    margin: 0;
    background-color: #1d1f20;
    color: #aaacb1;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*body {
    background-color: #14182b;
    color: #ae3d38;*
}*/

a {
    text-decoration: none;
}

.navbar-main {
    padding-right: 1.5rem;
}

.navbar {
    padding-bottom: 0rem;
}

.navbar-brand:hover {
    color: #aaacb1;
}

img.main {
    max-width: 100%;
    height: auto;
}

.bg-row {
    background-color: #374277
}

.vl {
    border-right: 6px solid #ae3d38;
    height: 100%;
}

.first-color { 
	background: #1d1f20; 
}
	
.second-color { 
	background: #222426; 
}

.third-color { 
	background: #303436; 
}

.fourth-color { 
	color: #aaacb1; 
}